{% extends "email-validator/_layouts/settings" %}

{% set fullPageForm = true %}

{% import "_includes/forms" as forms %}
{% import "email-validator/_macros/settings" as macros %}

{% block content %}
  {{ forms.hidden({
      name: 'action',
      value: 'plugins/save-plugin-settings'
  })}}

  {{ forms.hidden({
      name: 'pluginHandle',
      value: plugin.handle
  })}}

  <h2 class="first">General Settings</h2>

  {{ forms.lightswitchField({
    first:         true,
    label:        'Format Check',
    instructions: 'Perform a standard email format check, verifying it\'s basic compliance.',
    on:           true,
    disabled:     true
  }) }}

  {{ forms.lightswitchField({
    label:        'Typo Check & Suggestions',
    instructions: 'Provide an alternative email suggestion if a typo is detected in the domain part of the email address.',
    id:           'typoCheck',
    name:         'settings[typoCheck]',
    on:           settings.typoCheck,
    disabled:     'typoCheck' in overrides,
    warning:      'typoCheck' in overrides ? macros.configWarning('typoCheck')
  }) }}

  {{ forms.lightswitchField({
    label:        'MX Records',
    instructions: 'Allow domains that aren\'t configured to receive email.',
    id:           'allowNoMX',
    name:         'settings[allowNoMX]',
    on:           settings.allowNoMX,
    disabled:     'allowNoMX' in overrides,
    warning:      'allowNoMX' in overrides ? macros.configWarning('allowNoMX')
  }) }}

  {{ forms.lightswitchField({
    label:        'Catch All',
    instructions: 'Allow domains that are configured to catch all incoming mail traffic.',
    id:           'allowCatchAll',
    name:         'settings[allowCatchAll]',
    on:           settings.allowCatchAll,
    disabled:     'allowCatchAll' in overrides,
    warning:      'allowCatchAll' in overrides ? macros.configWarning('allowCatchAll')
  }) }}

  {{ forms.lightswitchField({
    label:        'Roles',
    instructions: 'Allow role-based email addresses.',
    id:           'allowRoles',
    name:         'settings[allowRoles]',
    on:           settings.allowRoles,
    disabled:     'allowRoles' in overrides,
    warning:      'allowRoles' in overrides ? macros.configWarning('allowRoles')
  }) }}

  {{ forms.lightswitchField({
    label:        'Free Providers',
    instructions: 'Allow email addresses found to be using a free email provider such as Gmail and Yahoo!.',
    id:           'allowFree',
    name:         'settings[allowFree]',
    on:           settings.allowFree,
    disabled:     'allowFree' in overrides,
    warning:      'allowFree' in overrides ? macros.configWarning('allowFree')
  }) }}

  {{ forms.lightswitchField({
    label:        'Disposable Providers',
    instructions: 'Allow email addresses found to be using a disposable email provider.',
    id:           'allowDisposable',
    name:         'settings[allowDisposable]',
    on:           settings.allowDisposable,
    disabled:     'allowDisposable' in overrides,
    warning:      'allowDisposable' in overrides ? macros.configWarning('allowDisposable')
  }) }}
{% endblock %}
